{
  "Systems": {
    "StaleSceneRepro.StaleSceneReproSystem": {
      "World": {
        "Id": "afb67fe0-83c8-45fb-838b-dfde6190a5e0",
        "Path": "scenes/system.scene"
      }
    }
  },
  "__guid": "0e1d9183-42c7-4426-a66d-197baa3e3d60",
  "__schema": "configdata",
  "__type": "SystemsConfig",
  "__version": 1
}